.navbar
    display: flex
    justify-content: space-between
    align-items: center
    // height: 100%
    background-color: #8487EE
    box-shadow: 4px 4px 4px #BCCCEC
    padding: 10px

    .logo
        font-weight: bold
        color: #FFF
        height: 50px
        img
            height: 100%

    .menu-toggle
        display: block
        position: relative
        background-color: transparent
        border: 2px solid #FFF
        border-radius: 5px
        padding: 5px 10px

        i
            color: #FFF
            font-size: 22px
    

.profile
    display: flex
    position: absolute
    right: 0
    background-color: #FFF
    border-radius: 5px
    border: none

    ul
        display: flex
        flex-direction: column
        list-style: none
        padding: 10px

        li
            display: flex
            padding: 1%
            margin: 2%
            color: #8487EE
            cursor: pointer
        
        li:hover
            border-bottom: 2px solid #BCCCEC

            i
                color: #8487EE
                margin-right: 1%
                font-weight: bold


@media  (max-width: 360px)
    .navbar
        flex-direction: row
        .menu-toggle
            display: inline
            background-color: transparent
            border: 2px solid #FFF
            border-radius: 5px
            padding: 5px 10px

            i
                color: #FFF
                font-size: 22px
                

        .links
            display: none

    .menu-mobile
        display: flex
        flex-direction: column
        position: absolute
        padding: 15px
        right: 0
        z-index: 2
        height: 100%
        width: 30%
        background-color: #8487EE
        transition: all 0.5s
        box-shadow: -4px 0px 4px #BCCCEC

        a
            text-decoration: none
            color: #fff
            padding: 5px
            font-weight: bold
        
        a:hover
            color: #FCA92D
        
            


