<div class="navbar">
  <div class="logo" [routerLink]="['/']">
    <img src="assets/logo2.png" alt="logo">
  </div>
  <button class="menu-toggle" (click)="toggle()">
    <i class="uil uil-bars"></i>
  </button>
</div>


<div class="profile" *ngIf="opened">
  <ul>
    <li [routerLink]="['']">
      <i class="uil uil-estate"></i>
      Home
    </li>
    <li>
      <i class="uil uil-cog"></i>
      Configurações
    </li>
    <li [routerLink]="['/users/login']">
      <i class="uil uil-power"></i>
      Sair
    </li>
  </ul>
</div>
