<div class="container space-between">
    <div class="header">
        <button (click)="navigate()">Voltar</button>
        <app-date></app-date>
    </div>
</div>

<div class="container">
    <div class="card ">
        <span *ngIf="userSchools">Escolas cadastradas no Sistema {{ userSchools.length }}</span>
    </div>
</div>

<div class="container space-between">
    <button type="button" (click)="toggleCreate()">
        Cadastrar nova
    </button>
    <div class="search">
        <input type="text" placeholder="Procurar" (keyup)="filter($event.target)" name="procurar">
    </div>
</div>

<ng-container *ngIf="createSchool">
    <div class="container-column">
        <form [formGroup]="form" (ngSubmit)="validateForm()">
            <label for="name">Cadastrar nova escola</label>
            <div class="input-prepend">
                <i class="uil uil-graduation-cap"></i>
                <input type="text" placeholder="Nome da escola" formControlName="name" (keyup)="prepareNewSchool($event)">
            </div>
            <div class="buttons">
                <button *ngIf="!loading">
                    Salvar
                </button>
                <button *ngIf="loading">
                    Processando
                    <i class="uil uil-sync"></i>
                </button>
            </div>
        </form>
    </div>
</ng-container>


<ng-container *ngIf="userSchools.length > 0 else noContent">
    <div class="container-grid">
        <app-card-select-school *ngFor="let school of userSchools" [school]="school"></app-card-select-school>
    </div>
</ng-container>




<ng-template #noContent>
    <div class="container">
        <div class="no-data">
            <span>Nenhuma Escola Encontrada.</span>
            <img src="assets/school.svg" alt="">
        </div>
    </div>
</ng-template>
