.container
    margin-top: 5%
    .search
        input
            color: #8788AC
            padding: 8px
            border-radius: 50px
            border: none
            font-style: italic
            box-shadow: 4px 4px 4px #BCCCEC

    .date
        span
            color: #8788AC

    button
        background-color: #8487EE
        box-shadow: 4px 4px 4px #BCCCEC
        border: none
        border-radius: 5px
        padding: 10px
        font-weight: bold
        color: #FFF

        i
            font-weight: bold