.container
    margin-top: 5%
    .search
        input
            color: #8788AC
            padding: 8px
            border-radius: 50px
            border: none
            font-style: italic
            box-shadow: 4px 4px 4px #BCCCEC

    .date
        span
            color: #8788AC

    button
        background-color: #8487EE
        box-shadow: 4px 4px 4px #BCCCEC
        border: none
        border-radius: 5px
        padding: 10px
        font-weight: bold
        color: #FFF

        i
            font-weight: bold


.container-column
    background-color: #FFF
    padding: 15px
    border: none
    border-radius: 5px
    box-shadow: 4px 4px 4px #BCCCEC


    form
        display: flex
        flex-direction: column
        label
            font-weight: bold
            color: #8487EE
            margin: 1%


        .input-prepend
            display: flex
            align-items: center
            border: 1px solid #8788AC
            padding: 5px
            border-radius: 5px
            margin-bottom: 2%

            i
                background-color: #cbcce4
                padding: 1%
                color: #8487EE
                border-radius: 3px
            input
                width: 50%
                border: none
                height: i
                margin-left: 2%
                height: 30px

        .buttons
            display: flex
            justify-content: flex-end

            button
                background-color: #8487EE
                // box-shadow: 4px 4px 4px #BCCCEC
                border: none
                border-radius: 5px
                padding: 10px
                font-weight: bold
                color: #FFF

                i
                    font-weight: bold