<div class="card">
    <div class="header">
        <img src="assets/classrooms.png" alt="">
    </div>
    <div class="body">
        <span>{{ classroom.name }}</span>
        <div class="info">
            <small>Alunos cadastrados: {{ classroom.students.length }}</small>
        </div>
        <div class="buttons">
            <button class="warning" type="button">
                Selecionar
            </button>
            <button class="danger" type="button">
                <i class="uil uil-times-circle"></i>
            </button>
        </div>
    </div>
</div>