<div class="col-md-6 offset-md-3 my-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
    </div>
    <div class="card-body">
      <div class="col-md-12 text-center">
        <span>Bem-vindo ao <b>Sistema de Gestão Escolar</b></span>
      </div>
      <form class="my-3">
        <div class="form-group col-md-8 offset-md-2">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <fa-icon [icon]="icons.faUser"></fa-icon>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>

        </div>
        <div class="form-group col-md-8 offset-md-2">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <fa-icon [icon]="icons.faLock"></fa-icon>
              </span>
            </div>
            <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="E-mail">
          </div>
        </div>
        <div class="col-md-8 col-12 offset-md-2 text-right d-flex flex-column">
          <button type="button" class="btn btn-primary btn-sm rounded-pill">Entrar</button>
          <a href="#" class="badge badge-default mx-2 my-2">Criar conta</a>
        </div>
      </form>
    </div>
  </div>

</div>


