.card
    padding: 15px 5px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: #FFF
    border-radius: 5px
    margin: 5%
    box-shadow: 4px 4px 4px #BCCCEC


    .header
        display: flex
        width: 70%
        flex-direction: column
        justify-content: center
        align-items: center

        h3
            font-weight: bold
            color: #8487EE

        small
            font-weight: 400
            color: #4B4952

    .body
        width: 70%
        padding: 15px
        form
            display: flex
            flex-direction: column
            padding: 5px

            input
                border: none
                background-color: #f0f0f0
                border-radius: 5px
                padding: 5px
                margin: 1%
            
            input:focus
                border-color: !important#8487EE

            button
                padding: 8px
                font-weight: bold
                color: #fff
                background-color: #A1ED2B
                border-radius: 5px
                border: none
                box-shadow: 0 4px 4px #f0f0f0
    
    .footer
        display: flex 
        flex-direction: column
        width: 70%
        text-align: center
        

        .icons
            display: flex
            justify-content: center
            height: 40px

            img
                height: 100%

        small
            font-weight: 200
            color: #4B4952
            padding: 5px