<div class="card">
    <div class="header">
      <h3>Login</h3>
      <small>Sua empresa na palma da sua mão</small>
    </div>
  
    <div class="body">
      <form [formGroup]="form" (ngSubmit)="validateForm()">
        <input type="text" placeholder="E-mail" formControlName="email" [ngClass]="{ 'error' : errors}">
        <small *ngIf="errors">Campo Inválido!</small>
        
        <input type="password" placeholder="Senha" formControlName="password" [ngClass]="{ 'error' : errors}">
        <small *ngIf="errors">Campo Inválido!</small>

        <button type="submit" *ngIf="!loading" (click)="validateForm()">Entrar</button>
        <button type="button" *ngIf="loading" disabled>
          Entrando
          <i class="uil uil-spinner-alt ml-2"></i>
        </button>
      </form>
    </div>
    <div class="footer">
      <hr>
      <small><b>ou</b></small>
      <small>Usar email de sua preferẽncia</small>
      <div class="icons">
        <img src="assets/google-icon.png" alt="">
        <img src="assets/microsoft-icon.png" alt="">
      </div>
      <small>Faça o teste gratuito por 15 dias sem necessidade de cartão de crédito.</small>
      <button [routerLink]="['/users/create-account']">Crie sua conta</button>
    </div>
  </div>