<div class="card">
    <div class="header">
      <h3>Criar Conta</h3>
      <small>Sua empresa na palma da sua mão</small>
    </div>
  
    <div class="body">
      <form [formGroup]="form" (ngSubmit)="validateForm()">
        <input type="text" placeholder="Nome completo" formControlName="name" [ngClass]="{ 'error' : errors}">
        <small *ngIf="errors">Campo Inválido!</small>

        <input type="text" placeholder="E-mail" formControlName="email"[ngClass]="{ 'error' : errors}">
        <small *ngIf="errors">Campo Inválido!</small>

        <input type="password" placeholder="Senha" formControlName="password" [ngClass]="{ 'error' : errors}">
        <small *ngIf="errors">Campo Inválido!</small>

        <input type="password" placeholder="Confirmar senha" formControlName="repeatPassword" [ngClass]="{ 'error' : errors}">
        <small *ngIf="errors">Campo Inválido!</small>
        
        <button type="submit" *ngIf="!loading">Criar</button>
        <button type="submit" *ngIf="loading">
          Criando
          <i class="uil uil-spinner-alt ml-2"></i>
        </button>
      </form>
    </div>
    <div class="footer">
      <small>Usar email de sua preferẽncia</small>
      <div class="icons">
        <img src="assets/google-icon.png" alt="">
        <img src="assets/microsoft-icon.png" alt="">
      </div>
      <small>Faça o teste gratuito por 15 dias sem necessidade de cartão de crédito.</small>
      <button class="animate-slow" [routerLink]="['/users/login']">Já possuo uma conta</button>
    </div>
  </div>