<div class="card">
    <div class="header">
      <h3>Criar Conta</h3>
      <small>Sua empresa na palma da sua mão</small>
    </div>
  
    <div class="body">
      <form>
        <input type="text" placeholder="Nome completo">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Senha">
        <input type="text" placeholder="Confirmar senha">
        <button type="button">Criar</button>
      </form>
    </div>
    <div class="footer">
      <small>Usar email de sua preferẽncia</small>
      <div class="icons">
        <img src="assets/google-icon.png" alt="">
        <img src="assets/microsoft-icon.png" alt="">
      </div>
      <small>Faça o teste gratuito por 15 dias sem necessidade de cartão de crédito.</small>
    </div>
  </div>