.container
    .date
        display: flex
        justify-content: center
        background-color: #FFF
        font-size: 13px
        padding: 3%
        border: none
        border-bottom: 2px solid #8487EE
        width: 150px
        border-radius: 5px 5px 0px 5px
        color: #8788AC
        span
            i
                margin-right: 2px
                color: #FCA92D
        
@media  (max-width: 360px)
    .container

        .date

        