.container

    .date
        display: flex
        justify-content: center
        background-color: #FFF
        font-size: 13px
        padding: 3%
        border: none
        border-bottom: 2px solid #8487EE
        width: 130px
        border-radius: 5px 5px 0px 5px
        
@media  (max-width: 360px)
    .container

        .date

        