<ng-container>
    <div class="container">
        <div class="header space-between">
            <button (click)="navigate()"><i class="uil uil-corner-up-left-alt"></i></button>
            <app-date></app-date>
        </div>
    </div>

    <div class="container">
        <div class="card ">
            <span >Turmas cadastradas nessa Escola {{ classrooms.length }}</span>
        </div>
    </div>

    <div class="container space-between">
        <button type="button" (click)="toggleCreate()">
            Criar nova
            <i class="uil uil-plus"></i>
        </button>
        <div class="search">
            <input type="text" placeholder="Procurar" (keyup)="filter($event.target)" name="procurar">
        </div>
    </div>

    <ng-container *ngIf="createClassroom">
        <div class="container-column">
            <form [formGroup]="form" (ngSubmit)="validateForm()">
                <label for="name">Cadastrar nova turma</label>
                <div class="input-prepend">
                    <i *ngIf="form.controls.name.pristine && !errors" class="uil uil-plus-square"></i>
                    <i *ngIf="(!errors && !form.controls.name.invalid)" class="uil uil-check"></i>
                    <i *ngIf="(errors) || (form.controls.name.invalid && !form.controls.name.pristine)" class="uil uil-times-circle" style="top: 15%; color: #ee84d3;"></i>
                    <input type="text" placeholder="Nome da turma" formControlName="name" (keyup)="prepareNewClassroom()">
                </div>
                <small *ngIf="errors">Campo Inválido!</small>
                <label for="school">Selecione a Escola</label>
                <div class="input-prepend">
                    <select name="" id="" formControlName="school" *ngIf="schools.length > 0" (change)="setSchool()">
                        <option value="" selected>--Selecione --</option>
                        <option *ngFor="let school of schools" value="{{ school.id }}">{{ school.name }}</option>
                    </select>
                    <ng-container *ngIf="schools.length == 0">
                        <span>Carregando <i class="uil uil-spinner-alt"></i></span> 
                    </ng-container>

                </div>
                <small *ngIf="errors">Campo Inválido!</small>

                <div class="buttons">
                    <button *ngIf="!loading">
                        Criar
                        <i class="uil uil-check"></i>
                    </button>
                    <button *ngIf="loading">
                        Processando
                        <i class="uil uil-sync"></i>
                    </button>
                </div>
            </form>
        </div>
    </ng-container>

    <div class="container-grid" *ngIf="classrooms.length > 0 else noContent">
        <div *ngFor="let classroom of classrooms">
           <app-card-select-classroom [classroom]="classroom"></app-card-select-classroom>
        </div>
    </div>
</ng-container>

<ng-template #noContent>
    <div class="container">
        <div class="no-data">
            <span>Nenhuma Turma Encontrada.</span>
            <img src="assets/no-data.svg" alt="">
        </div>
    </div>
</ng-template>
