
.container
    margin-top: 5%
    button
        background-color: #8487EE
        border: none
        border-radius: 5px
        padding: 1% 2%

        i
            color: #FFF
            font-weight: bold
            font-size: 15px

    button:hover
        background-color: #8488eed5
    