<ng-container *ngIf="classrooms.length > 0 else noContent">
    <div class="container">
        <div class="card">
            <span>Turmas Cadastradas</span>
            <div class="buttons">
                <button>
                    Cadastrar
                    <i class="uil uil-plus-circle"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container-grid">
        <app-card-classroom *ngFor="let classroom of classrooms" [classroom]="classroom"></app-card-classroom>
    </div>
</ng-container>





<ng-template #noContent>
    <div class="container" style="align-items: center; justify-content: center; margin-top: 5%;">
        <span style="color: #8487EE;">Nenhum dado foi encontrado!<i class="uil uil-folder-question" style="color: #8487EE;"></i></span>
    </div>
</ng-template>