<div class="container">
    <div class="header">
        <button  (click)="navigate()"><i class="uil uil-corner-up-left-alt"></i></button>
        <app-date></app-date>
    </div>
</div>

<div class="container">
    <div class="card">
        <span>Turmas Cadastradas {{ classrooms.length }} <i class="uil uil-bookmark warning"></i></span>
    </div>
</div>

<div class="buttons">
    <button type="button" *ngIf="!createClassroom" (click)="toggleCreateClassroom()">Cadastrar <i class="uil uil-angle-double-right"></i></button>
    <button type="button" *ngIf="createClassroom" (click)="toggleCreateClassroom()">Cadastrar <i class="uil uil-angle-double-down"></i></button>
</div>

<ng-container *ngIf="createClassroom">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="validateClassroom()">
            <h4>Cadastrar nova turma</h4>
            <div class="input-prepend">
                <i class="uil uil-book-medical"></i>
                <input type="text" placeholder="Nome da turma" formControlName="name"> 
            </div>
            <div class="buttons">
                <button *ngIf="!loading" type="submit">Salvar</button>
                <button *ngIf="loading" disabled>Processando <i class="uil uil-sync"></i></button>
            </div>
        </form>
    </div>
</ng-container>

<ng-container *ngIf="classrooms.length > 0 else noClassrooms">
    <div class="container-grid">
        <app-card-classroom *ngFor="let classroom of classrooms" [classroom]="classroom"></app-card-classroom>
    </div>
</ng-container>

<div class="container">
    <div class="card shadow">
        <span>Disciplinas Cadastradas {{ subjects.length }} <i class="uil uil-bookmark warning"></i></span>
    </div>
</div>

<div class="buttons">
    <button type="button" *ngIf="!createSubject" (click)="toggleCreateSubject()">Cadastrar <i class="uil uil-angle-double-right"></i></button>
    <button type="button" *ngIf="createSubject"  (click)="toggleCreateSubject()">Cadastrar <i class="uil uil-angle-double-down"></i></button>
</div>

<ng-container *ngIf="createSubject">
    <div class="container">
        <form [formGroup]="formSubject" (ngSubmit)="validateSubject()">
            <h4>Cadastrar nova Disciplina</h4>
            <div class="input-prepend">
                <i class="uil uil-subject"></i>
                <input type="text" placeholder="Nome da Disciplina" formControlName="name"> 
            </div>
            <div class="buttons">
                <button *ngIf="!loading" type="submit">Salvar</button>
                <button *ngIf="loading" disabled>Processando <i class="uil uil-sync"></i></button>
            </div>
        </form>
    </div>
</ng-container>


<ng-container *ngIf="subjects.length > 0 else noSubjects">
    <div class="container-grid" >
        <app-card-subject *ngFor="let subject of subjects" [subject]="subject"></app-card-subject>
    </div>
</ng-container>





<ng-template #noClassrooms>
    <div class="container">
        <div class="no-data">
            <span>Nenhuma Turma foi encontrada.</span>
            <img src="assets/no-classroom.svg" alt="">
        </div>
    </div>
</ng-template>


<ng-template #noSubjects>
    <div class="container">
        <div class="no-data">
            <span>Nenhuma Disciplina foi encontrada.</span>
            <img src="assets/no-subject.svg" alt="">
        </div>
    </div>
</ng-template>