
<table>
    <tr>
        <th>Name</th>
        <th>Data de nascimento</th>
        <th>Turma</th>
        <th>Nome do responsável</th>
        <th>Ação</th>
    </tr>
    <tr *ngFor="let student of students">
        <td>{{ student.name }}</td>
        <td>{{ student.birthDay }}</td>
        <td>{{ student.classroomId }}</td>
        <td>{{ student.responsibleId }}</td>
        <td style="display: flex;">
            <button class="warning">Excluir</button>
            <button class="success">Exibir</button>
        </td>
    </tr>
</table>
