/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap'

body
    margin: 0
    box-sizing: border-box
    background-color: #F0F1FB
    font-family: 'Rajdhani', sans-serif


.container
    display: flex
    width: 70%
    height: 100%
    margin: 0 auto

    .m-0
        margin: 0 auto


@media  (max-width: 360px)
    .container
        width: 80%